<nav class="navbar">
  <div class="logo">
    <a routerLink="/">Amaika</a>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/galeriasFotos">
        <i class="fas fa-images"></i> Galería
      </a>
    </li>
    <li>
      <a routerLink="/resenas">
        <i class="fas fa-star"></i> Reseñas
      </a>
    </li>
    <li>
      <a routerLink="/blog">
        <i class="fas fa-book-open"></i> Blog
      </a>
    </li>
    <li>
      <a routerLink="/contacto">
        <i class="fas fa-envelope"></i> Contacto
      </a>
    </li>
  </ul>
</nav>
