<section class="presentacion">
  <div class="texto">
    <h1 style="text-align: center;">Productos Naturales Amaika</h1>
    <p class="beneficios" style="text-align: center;">💚 Salud, energía y bienestar.</p>
    <p class="ingredientes" style="text-align: center;">🌱 Ingredientes 100% naturales, seleccionados con cuidado.</p>
    <button class="cta" routerLink="/galeriasFotos">Ver productos</button>
  </div>
  <div class="imagen">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvsTQ48vE-l8KP6A9lgLyEIrXDSzNcSHp4Og&s" alt="Producto Amaika">
  </div>
</section>
