.presentacion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #e8f5e9, #c8e6c9);
    padding: 3rem 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.texto {
    flex: 1;
    min-width: 300px;
    padding-right: 2rem;
}

.texto h1 {
    font-size: 2.5rem;
    color: #2e7d32;
    margin-bottom: 1rem;
}

.texto .beneficios,
.texto .ingredientes {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #4e944f;
}

.cta {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background 0.3s ease;
}

.cta:hover {
    background-color: #07640d;
    transform: scale(1.00);
    width: 170px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(7, 7, 7, 0.25);
    transform: translate(0%, -5%);
    cursor: pointer;
    transition: transform 0.6s ease;
}

.imagen {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.imagen img {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .presentacion {
        flex-direction: column;
        text-align: center;
    }

    .texto {
        padding-right: 0;
    }

    .imagen {
        margin-top: 2rem;
    }
}